:root {
    --red: #e06c75;
    --green: #98c379;
    --yellow: #e5c07b;
    --blue: #61afef;
    --magenta: #c678dd;
    --cyan: #56b6c2;
    --foreground: #dcdfe4;
    --background: #282c34;
    --background-code: #191E26;
}

html, body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: 'Source Serif 4', serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

footer {
  border-top: 0.5px solid;
  margin-top: 1rem;
}

hr {
    background-color: var(--foreground);
    color: var(--foreground);
    border: 0;
    height: 0.5px;
}

a {
  color: var(--cyan);
  text-decoration: none;
}

main {
    margin-top: 1rem;
    max-height: 100%;
    overflow-y: auto;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

code {
    font-family: 'Source Code Pro', monospace
    background: var(--background-code);
    color: var(--foreground);
}

p code {
    font-size: .7em;
    padding: .2em .4em;
    border-radius: 6px;
}

pre {
    padding: 1em;
    font-size: .8em;
    border-radius: 3px;
    white-space: pre;
    overflow-x: auto;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

th, td {
    padding: .5em;
}

table {
    width: 100%;
}

a.ispage {
    color: var(--green);
}

a.invisible-link {
    color: var(--foreground);
}

nav.breadcrumb p {
    font-style: italic;
    margin: 0;
}

.imageblock > .title {
    font-style: italic;
}

.top-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: min(30%, 30ch) calc( 100% - min(30%, 30ch));
    grid-template-rows: 100%;
}

.menu {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content auto;
    background-color: var(--background);
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.menu-links {
    border-top: 0.5px solid;
    border-bottom: 0.5px solid;
    padding-top: 1em;
    overflow-y: auto;
}

.main-content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content auto max-content;
    padding: 2rem;
}

.nightMode pre, .nightMode p code {
    border: 1px solid #ABB2BF;
}

.deck-summary {
    margin-bottom: 1em;
}

.deck-summary p {
    margin: 0;
}

.card-summary {
    margin: 0;
    margin-bottom: 0.5rem;
}

#main-title {
    margin: 0;
}

.stemblock {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
}
