<nav class="breadcrumb">
    <p>
    {{ range .Ancestors.Reverse }}
    &#9656; <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    {{ end }}
    &#9656; <a aria-current="page" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </p>
    <div>
        {{ $pages := .CurrentSection.Pages.Reverse }}
        {{ with $pages.Prev . }}
        <a href="{{ .RelPermalink }}">&larr;</a>
        {{ end }}
        {{ with $pages.Next . }}
        <a href="{{ .RelPermalink }}">&rarr;</a>
        {{ end }}
    </div>
</nav>
